.headline-cart {
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 5px solid #344e41;
  background-color: #dad7cd;
  border-radius: 20px;
}

.cart-container:hover {
  box-shadow: 5px 5px 10px;
}

.cart-container > img {
  width: 100%;
  height: auto;
}

.cart-container > div {
  padding: 1rem;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

.cart-container > p {
  font-size: 1.4rem;
}

button {
  background-color: #a3b18a;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 1rem;
  padding: 1rem;
  height: 1.2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* .cart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
} */
