header {
  background-color: #a3b18a;
  height: 75px;
  border-radius: 12px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

span {
  font-size: 14px;
  background: #344e41;
  color: #fff;
  padding: 0 7px;
  vertical-align: top;
  border-radius: 10px;
}

.about-link,
.toys-link {
  transition: ease-out;
  transition-duration: 0.4s;
}

.about-link:hover,
.toys-link:hover {
  background-color: #588157;
  border-radius: 30px;
  padding: 15px;
  transition: ease-in;
  transition-duration: 0.3s;
}
